body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-image: url(./img4.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

header {
    background: rgb(65, 65, 221);
    color: #fff;
    padding: 0.01px;
    text-align: justify;
    height: fit-content;
}

.logo {
    width: 30px;
    height: 30px;
    padding: 0;
    margin: 0;
}

nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
}

nav ul li {
    margin: 0 1rem;
    padding: 0;
    display: flex; 
    align-items: center; 
    height: 100%; 
}
nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 8px 16px; 
}
#yo {
    background: transparent;
    padding: 2rem 1rem;
    text-align: center;
}

h1 {
    
    color: blue;
    font-size: xx-large;
}

p.inicial {
    background-color: #fff;
}

#aboutme p {
    margin: 0;
    background-color: #fff;
}

section {
    padding: 2rem 1rem;
    margin: 0 auto;
    max-width: 800px;
}
fieldset{
    background-color: #fff;
}
.proyectos {
    background: #f4f4f4;
    margin: 1rem 0;
    padding: 1rem;
}

.pro1 {
    width: 70px;
    height: auto;
}

.pro2 {
    width: 70px;
    height: auto;
}

.proyectos h3 {
    margin-top: 0;
}

form label {
    display: block;
    margin: 0.5rem 0 0.2rem;
}

form input, form textarea {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    background: #0418f6;
    color: #fff;
    border: none;
    padding: 0.7rem 1.5rem;
    cursor: pointer;
    border-radius: 5px;
}

form button:hover {
    background: #412fe7;
}